.quadro-principal{
  position: absolute;
  height: 100%;
  width: 88%;
  border-left:  4px solid #919193;
  border-right: 4px solid #919193;
  background-size: cover;
  background-position: 100%, 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quadro2{
  height: 80px;
  width: 80px;
  position: relative;
  background-position: 100%, 100%;
  background-size: cover;
  border-radius: 90%;
  border-left: 1px solid ;
  border-right: 1px solid;
  border-color: #ECECEC;
  margin: 7px;
  margin-top: 290px;
}
.movi{
bottom: 420px;
position: relative;
background-size: cover;
background-position: 50%, 50%;
margin: 7px;
align-items: center;
justify-content: center;
left: 0;
right: 20px;
}

#quadro3{
  height: 80px;
  width: 80px;
  background-size: cover;
  border-radius: 90%;
  border-left: 1px solid ;
  border-right: 1px solid;
  border-color: #ECECEC;
  background-color: #ECECEC;
  margin-bottom: 50px;
}

#quadro4{
  height: 80px;
  width: 80px;
  border-radius: 90%;
  border-left: 1px solid ;
  border-right: 1px solid;
  border-color: #ECECEC;
  background-color: #ECECEC;
  margin-bottom: 50px;
}
#quadro5{
  height: 80px;
  width: 80px;
  background-position: 100%, 100%;
  border-radius: 90%;
  border-left: 1px solid ;
  border-right: 1px solid;
  border-color: #ECECEC;
  background-color: #ECECEC;
  margin-bottom: 50px;
}

#quadro6{
  height: 80px;
  width: 80px;
  border-radius: 90%;
  border-left: 1px solid ;
  border-right: 1px solid;
  border-color: #ECECEC;
  background-color: #ECECEC;
  margin-bottom: 50px;
}
.box{
  background-size: cover;
  height: 100%;
  width: 70%;
  position: sticky;
  display: flexbox;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 1px;
  margin-right: 1px;
}
